doctype html
html
    head
        title="Welcome to Jobify"
        link(rel="stylesheet", href="css/main.css")
        link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.min.css")

    body(ng-app="Shopify")
      div.container(ng-controller="shopifyCtrl as vm")
        h3 Welcome to Jobify
        p Find your dream job below

        .list-group
          a.list-group-item(ng-repeat="job in vm.jobs")
            h4.list-group-item-heading {{ job.title }}
            p.list-group-item-text {{ job.description }}

      script(src="bower_components/angular/angular.min.js")
      script(src="bower_components/angular-resource/angular-resource.min.js")
      script(src="js/main.js")
